/* body {
    background-color: hwb(352 38% 0%);
} */
h2 {
    font-size: 15px;
    text-align: left;
}
.icon-border {
    background-color: white;
    display:block;
    border:1px solid black;
    
}

table{
    width : 500px;
    height : 30px;
    border-collapse: collapse;
}
table td,
table th{
    text-align: center;
    padding: 5px;
    border : 1px solid lightgray;
    font-size: 9px;
}
table th{
    background-color: hwb(352 38% 0%);
    color:black;
    font-size: 11px;
}

table caption {
    text-align: right;
    margin-bottom: 5px;
    font-size: 7px;
}
button{
    text-align: center;
    border : 1px solid lightgray;
    background-color: hwb(352 38% 0%);
    font-size: 11px;
    trasition:all 0.1s;
}
button:active{
    transform: translateY(2px);  
}
input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: auto;
}

/* main */
#title {
    font-size: 30px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}