<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- <style>
        body {
            background-color: hwb(352 38% 0%);
            font-size: 12px
        }
        h2 {
            font-size: 15px;
            text-align: left;
        }
        .icon-border {
            background-color: white;
            display:block;
            border:1px solid black;
        }
    </style> -->
    <link rel="stylesheet" type="html/css" href="./resouces/css/style.css">
</head>
<body>
    <h1>Keeping a Diary</h1>
<div class="icon-border">
</p>날짜
<input type = "date"></import>  첨부 <input type = "image" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimg-premium.flaticon.com%2Fpng%2F512%2F4812%2F4812049.png%3Ftoken%3Dexp%3D1630468264%7Ehmac%3D9509f9ac6305365c9073d151225eeb00&type=sc960_832"
width="13" height="13">
<h2>
    제목 : <input type="text" style="width:600px;">
</h2>
<h3>
    <input type = "image" src="./resouces/img/KakaoTalk_20230110_031406202.png" width="13" height="15"/>
    <input type = "image" src="./resouces/img/KakaoTalk_20230110_031420435.png" width="16" height="15"/>
    <input type = "image" src="./resouces/img/KakaoTalk_20230110_031426464.png" width="16" height="15"/>
    <input type = "image" src="./resouces/img/KakaoTalk_20230110_031430280.png" width="16" height="15"/>

    <input type = 'button' class='btn' name='btn'value='완료'style="float:right;">
        <textarea rows="20" cols=175 wrap="hard"></textarea>
    <div style ="width: 400px; height:100px;word-break:break-all;overflow:auto;"></div>
</div>
</h3>
</body>
</html>