<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- js -->
    <title><%= title %></title>
</head>
<body>
    <body>
        <div id="title">Daily. 나의 일기</div><img src="/images/history_edu.png"><br>
        <input type ="date"> ~ <input type ="date"> <input type="image" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F158%2F158861.png&type=sc960_832"
        width="13" height="13"> 
        <table>
            <caption>
                다이어리를 선택해주세요
            </caption>
            <tr>
                <th>날짜</th>
                <th>제목</th>
                <th>수정날짜</th>
            </tr>
            <tr>
                <td>
                    2022-01-01
                </td>
                <td><a href="#">오늘 하루 조옥같은 날이었다.</a></td>
                <td>2022-01-01</td>
            </tr>
            <tr>
                <td>
                    2022-01-02
                </td>
                </td>
                <td><a href="#">오늘은 표지를 만들어 보았다.</a></td>
                <td></td>
            </tr>
        </table>
        <div>
            <input type="button" value="다이어리 작성" onclick="location.href='/write'">
            <button>다이어리 수정</button>
            <button>다이어리 삭제</button>
        </div>
    </body>
</body>
</html>
