<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    
    <!-- js -->
    <script src="/js/main/index.js"></script>
    <title><%=title%></title>
</head>
<body>
    <div id="main">
        <h1>나의 일기</h1>
        <img src="/images/history_edu.png" alt="그림">
    </div>
    <input type="date" required pattern="\d{4}-\d{2}-\d{2}"> ~ <input type="date" required pattern="\d{4}-\d{2}-\d{2}">
</body>
</html>