<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" type="html/css">
    <link rel="stylesheet" href="/css/style.css" type="html/css">

    <!-- summernote-lite -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
    <h1>Keeping a Diary</h1>
<div class="icon-border">
</p>날짜
<input type = "date"></import>  
<!-- 첨부 <input type = "image" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimg-premium.flaticon.com%2Fpng%2F512%2F4812%2F4812049.png%3Ftoken%3Dexp%3D1630468264%7Ehmac%3D9509f9ac6305365c9073d151225eeb00&type=sc960_832"
width="13" height="13"> -->
<h2>
    제목 : <input type="text" style="width:600px;">
    <input type = 'button' class='btn' name='btn'value='완료'>
</h2>
<h3>
    <div id="summernote"></div>
    <!-- <div style ="width: 400px; height:100px;word-break:break-all;overflow:auto;"></div> -->
</h3>
</body>
<script>
    $('#summernote').summernote({
      height: 300,                 // 에디터 높이
		  minHeight: null,             // 최소 높이
		  maxHeight: null,             // 최대 높이
		  focus: true,                 // 에디터 로딩후 포커스를 맞출지 여부
		  lang: "ko-KR",					     // 한글 설정
		  placeholder: '최대 2048자까지 쓸 수 있습니다',	//placeholder 설정
			  // callbacks: {	//여기 부분이 이미지를 첨부하는 부분
				// 	onImageUpload : function(files) {
				// 		uploadSummernoteImageFile(files[0],this);
				// 	},
				// 	onPaste: function (e) {
				// 		var clipboardData = e.originalEvent.clipboardData;
				// 		if (clipboardData && clipboardData.items && clipboardData.items.length) {
				// 			var item = clipboardData.items[0];
				// 			if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
				// 				e.preventDefault();
				// 			}
				// 		}
				// 	}
				// },
      tabsize: 10,
      toolbar: [
        // 글꼴 설정
		    ['fontname', ['fontname']],
		    // 글자 크기 설정
		    ['fontsize', ['fontsize']],
		    // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
		    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
		    // 글자색
		    ['color', ['forecolor','color']],
		    // 표만들기
		    ['table', ['table']],
		    // 글머리 기호, 번호매기기, 문단정렬
		    ['para', ['ul', 'ol', 'paragraph']],
		    // 줄간격
		    ['height', ['height']],
		    // 그림첨부, 링크만들기, 동영상첨부
		    ['insert',['picture','link','video']],
		    // 코드보기, 확대해서보기, 도움말
      ],
        // 추가한 글꼴
		  fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
		 // 추가한 폰트사이즈
		  fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
    });
  </script>
</html>
