<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" type="html/css">
    <link rel="stylesheet" href="/css/style.css" type="html/css">

    <!-- summernote-lite -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
    <h1>일기 작성</h1>
<h2>
    제목 : <input type="text" id="title" style="width:600px;">
    작성자 : <input type="text" id="userName" style="width:50px;">
    <button class="custom-btn btn-3" id="saveBtn">저장하기</button>
</h2>
<h3>
    <div id="summernote"></div>
    <div style ="width: 400px; height:100px;word-break:break-all;overflow:auto;"></div>
</h3>
</body>
<script>
  $(document).ready(function() {

    $('#summernote').summernote({
      placeholder: '',
      tabsize: 1,
      height: 200,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        //['insert', ['link', 'picture', 'video']], 미구현
        ['view', ['fullscreen', 'codeview', 'help']]
      ]
    });

    $(document).on('click', '#saveBtn', function () {
        saveContent();
    });
  })
  
  //저장
  function saveContent() {
      //제목
      var title = $('#title').val();
      //작성자
      var userName = $('#userName').val();
      //내용
      var content = $('#summernote').summernote('code');

      //vaild
      if(!title) return alert('제목을 입력해주세요.');
      if(!userName) return alert('작성자를 입력해주세요.');
      
      const req = {
        title: title,
        userName: userName,
        content: content,
      }
      console.log(req);
      //서버 전송
      fetch("http://localhost:3000/save", {
        method: "post",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(req),
      }).then((res) => {//성공
        alert('일기가 작성되었습니다.')
      }).catch((err) => //실패
        console.log(err)
      );
  }
  </script>
</html>