<!DOCTYPE html>
<html lang="en">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        
    </style>
    <script src="/js/main/index.js"></script>
    <title><Modifying the Diary></title>
    <title><Modifying the Diary></title>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>
<body>
    <h1>Modifying the Diary</h1>
    <h2>
        제목 : <input type="text" style="width:600px;">
        <input type = 'button' class='btn' name='btn'value='수정하기'>
    </h2>
    <h3>
        <div id="summernote"></div>
        <div style ="width: 400px; height:100px;word-break:break-all;overflow:auto;"></div>
    </h3>
</body>
<script>
    $('#summernote').summernote({
      placeholder: '',
      tabsize: 1,
      height: 200,
      toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']]
        
      ]
    });
  </script>

</html>